<ul>
  @if (doctor) {
  <li>
    {{ doctor.id }}
  </li>

  <form [formGroup]="doctorForm">
    <input type="text" id="name" formControlName="name" />
    <input type="text" id="lastName" formControlName="lastName" />

    Select the hospital
    <select formControlName="hospitalId">
      @for (h of hospitals; track $index) {
      <option [value]="h.id">{{ h.name }}</option>
      }
    </select>

    <button type="submit" (click)="onUpdate()">Save</button>
  </form>
  <li>
    <img [src]="doctor.gravatarUrl" alt="" />
  </li>
  <li>
    {{ doctor.createdAt }}
  </li>
  <li>
    {{ doctor.updatedAt }}
  </li>
  <li>
    {{ doctor.createdBy }}
  </li>
  <li>
    {{ doctor.updatedBy }}
  </li>

  <i>Patients attended</i>
  @if (patients.length) {
  <ol>
    @for (patient of patients; track $index) {
    <li>
      <a [routerLink]="['/patients/', patient.id]">
        {{ patient.name }} - {{ patient.lastName }} - {{ patient.birthDate }}
        <img [src]="patient.gravatarUrl" [alt]="patient.name" />
      </a>
    </li>
    }
  </ol>
  } @else {
  <p>No patients attended</p>
  } } @else {
  <p>Loading...</p>
  }
</ul>
