@if (hospital) {

<p>
  <img [src]="hospital.gravatarUrl" alt="" />
</p>
<p>
  {{ hospital.createdAt }}
</p>
<p>
  {{ hospital.updatedAt }}
</p>
<p>
  {{ hospital.createdBy }}
</p>
<p>
  {{ hospital.updatedBy }}
</p>

<form [formGroup]="hospitalForm">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" />
    <label for="phone">Phone:</label>
    <input type="text" id="phone" formControlName="phone" />
    <label for="name">email:</label>
    <input type="email" id="email" formControlName="email" />
  </div>
  <button type="submit" (click)="onUpdate()">Save</button>
</form>

<!-- Doctors -->
<i>Doctors</i>
@if (doctors.length) {
<ol>
  @for (doctor of doctors; track $index) {
  <li>
    <a [routerLink]="['/doctors/', doctor.id]">
      {{ doctor.name }} - {{ doctor.lastName }}
      <img [src]="doctor.gravatarUrl" [alt]="doctor.name" />
    </a>
  </li>
  }
</ol>
} @else {
<p>No doctors yet</p>
}

<!-- Patients -->
<i>Patients</i>
@if (patients.length) {
<ol>
  @for (patient of patients; track $index) {
  <li>
    <a [routerLink]="['/patients/', patient.id]">
      {{ patient.name }} - {{ patient.lastName }} - {{ patient.birthDate }}
      <img [src]="patient.gravatarUrl" [alt]="patient.name" />
    </a>
  </li>
  }
</ol>
} @else {
<p>No patients yet</p>
} } @else {
<p>Loading...</p>
}
