<input type="search" [(ngModel)]="searchQuery" (keyup.enter)="search()" />
<button (click)="search()">Search</button>

<input type="date" [formControl]="startDateControl" />
<input type="date" [formControl]="endDateControl" />
<button (click)="searchByDates()">Search</button>

<ul>
  @for (hospital of hospitals; track $index) {
  <li>
    <a [routerLink]="['hospitals/', hospital.id]">
      {{ hospital.name }}
      {{ hospital.phone }}<img [src]="hospital.gravatarUrl" alt="" srcset="" />
    </a>
  </li>
  }
</ul>
