<div class="container mt-3">
  <h2>List of specialities</h2>

  <div class="d-flex align-items-center my-4">
    <span class="mx-4">Do you want to create a new speciality?</span>
    <a [routerLink]="['/speciality-create']" class="btn btn-primary">
      Create Speciality
    </a>
  </div>

  <ol class="list-group">
    @for (speciality of specialities; track $index) {

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <div>
        <a [routerLink]="['/specialities/', speciality.id]">
          <img
            [src]="speciality.gravatarUrl"
            alt="{{ speciality.name }}"
            class="img-fluid rounded-start ms-auto"
            style="width: 100px; height: 100px; object-fit: cover"
          />
          {{ speciality.name }} / {{ speciality.description }}
        </a>
      </div>
    </li>
    }
  </ol>
</div>
