<ul>
  @if (patient) {
  <li>
    {{ patient.id }}
  </li>

  <form [formGroup]="patientForm">
    <input type="text" id="name" formControlName="name" />
    <input type="text" id="lastName" formControlName="lastName" />
    <input type="text" id="address" formControlName="address" />
    <input type="date" id="birthDate" formControlName="birthDate" />

    <button type="submit" (click)="onUpdate()">Save</button>
  </form>

  <li>
    {{ patient.name }}
  </li>
  <li>
    {{ patient.lastName }}
  </li>
  <li>
    {{ patient.birthDate }}
  </li>
  <li>
    <img [src]="patient.gravatarUrl" alt="" />
  </li>
  <li>
    {{ patient.createdAt }}
  </li>
  <li>
    {{ patient.updatedAt }}
  </li>
  <li>
    {{ patient.createdBy }}
  </li>
  <li>
    {{ patient.updatedBy }}
  </li>
  } @else {
  <p>Loading...</p>
  }
</ul>
