<div class="d-flex">
  <input
    type="search"
    class="form-control me-2"
    [(ngModel)]="searchQuery"
    (keyup.enter)="search()"
    placeholder="Search Hospitals"
  />
  <button type="button" class="btn btn-primary me-2" (click)="search()">
    Search
  </button>
  <input
    type="date"
    class="form-control me-2"
    [formControl]="startDateControl"
  />
  <input type="date" class="form-control" [formControl]="endDateControl" />
  <button type="button" class="btn btn-primary" (click)="searchByDates()">
    Search
  </button>
</div>

<ol class="list-group mt-4">
  @for (patient of patients; track $index) {

  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div>
      <img
        [src]="patient.gravatarUrl"
        alt="{{ patient.name }} {{ patient.lastName }}"
        class="img-fluid rounded-start ms-auto"
        style="width: 100px; height: 100px; object-fit: cover"
      />
      <a [routerLink]="['/patients/', patient.id]">
        {{ patient.name }} {{ patient.lastName }}
      </a>
    </div>
  </li>
  }
</ol>
